aiofiles
aiohttp
apscheduler
beautifulsoup4
cloudscraper
daxxhub
deepai
dnspython
emojis
ffmpeg-python
Faker==24.8.0
future==0.18.3
git+https://github.com/AsmSafone/SafoneAPI
gitpython
gpytranslate
gtts
hachoir
heroku3
httpx
img2pdf
lexica-api==1.5.1
motor
numpy<2.0.0
openai==0.28.0
opencv-python
pillow==9.5.0
pickledb
psutil
pycountry
pycryptodome
pydub
pyfiglet
pyrofork
pyshorteners
python-dotenv
python-whois
pytz
py-tgcalls==0.9.7
pyyaml==6.0.1
qrcode
requests
search_engine_parser
SpeechRecognition
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
youtube-search
youtube-search-python==1.6.6
py-yt-search
python-telegram-bot
pykeyboard
pyrogram-inline-keyboard
